.Header .Nav {
	max-width: 50%;
}

.Header ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 1px solid black;
	background-color: #5b627e;
}

.Header li {
	float: left;
	width: 25%;
	min-width: 93px;
}

.Header li a {
	display: block;
	color: black;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

.Header li a:hover:not(.active) {
	background-color: #919db7;
}

.Header li a.active {
	color: white;
	background-color: black;
}

@media (max-width: 764px) {
	.Header .Nav {
		max-width: 375px;
		width: 375px;
	}
}

@media (max-width: 392px){
	.Header .Nav {
		width: 188px;
	}
}

@media (max-width: 203px){
	.Header .Nav {
		width: 92px;
		min-width: 92px;
	}
}
