.App {
  background-color: #edf2f8;
}
.Gallery {
  max-width: 50%;
  position: relative;
}

.Categories ul {
    list-style-type: none;
  }

.Categories  p {
    margin-left: 10%;
  }

.Categories {
  max-width: 50%;
  float: none;
  position: absolute;
  right: 35%;
  background-color: #edf2f8;
}

/*.Categories input {
  display: none;
  }
*/
/*.Categories label {
  color: black;
  font-weight: bold;
  font-size: 1rem;
  -webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;

}
*/

.Categories [type="radio"]:checked + label,
.Categories [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.Categories [type="radio"]:checked + label:before,
.Categories [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.Categories [type="radio"]:checked + label:after,
.Categories [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.Categories [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.Categories [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* Audio Player */
.AudioPlayer button {
  width: 55px;
  padding: 5px 10px;
}

/* Header */
.Header .Nav {
	max-width: 50%;
}

.Header ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 1px solid black;
	background-color: #5b627e;
}

.Header li {
	float: left;
	width: 25%;
	min-width: 93px;
}

.Header li a {
	display: block;
	color: black;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

.Header li a:hover:not(.active) {
	background-color: #919db7;
}

.Header li a.active {
	color: white;
	background-color: black;
}

/* Media queries */
@media (max-width: 764px) {
	.Header .Nav {
		max-width: 375px;
		width: 375px;
	}
}

@media (max-width: 392px){
	.Header .Nav {
		width: 188px;
	}
}

@media (max-width: 203px){
	.Header .Nav {
		width: 92px;
		min-width: 92px;
	}
}
